@tailwind base;
    @tailwind components;
    @tailwind utilities;

    html {
      scroll-behavior: smooth;
    }

    body {
      @apply text-gray-800 bg-gray-50;
    }

    .section-padding {
      @apply py-12 px-5 sm:py-16 sm:px-6 lg:py-20 lg:px-8;
    }

    .container-custom {
      @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }
